<!-- Preloader -->
<div id="preloader" *ngIf="loaderShow"><div data-loader="dual-ring"></div></div>
<!-- Preloader End -->

<div class="bg-light shadow-md rounded p-4">
<hr>
<h4 class="mb-4">Update Password</h4>
<hr>
<div class="form-group">
  <label for="Frequent_Flyer_No">Password</label>
  <input type="password" value="" class="form-control" #password data-bv-field="Password" id="password" name="password" required placeholder="Password">
</div>
<div class="form-group">
  <label for="Frequent_Flyer_No">Revalidate Password</label>
  <input type="password" class="form-control" #revalidatePassword value="" data-bv-field="Revalidate Password" id="revalidatePassword" name="revalidatePassword" required placeholder="Revalidate Password">
</div>
<hr>
<button class="btn btn-primary" type="submit" (click)="passwordUpdate(password,revalidatePassword)">Update Now</button>

</div>
