<!-- Preloader -->
<div id="preloader" *ngIf="loaderShow"><div data-loader="dual-ring"></div></div>
<!-- Preloader End -->

<div class="bg-light shadow-md rounded p-4"> 
    <!-- WishList
    ============================================= -->
    <h4 class="mb-3">Favourites</h4>
    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
      <li class="nav-item"> <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">All</a> </li>
      <li class="nav-item"> <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Flights</a> </li>
      <li class="nav-item"> <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">Hotels</a> </li>
    </ul>
    <div class="tab-content my-3" id="myTabContent">
      <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
        <div class="table-responsive-md">
          <table class="table table-hover border">
            <thead class="thead-light">
              <tr>
                <td>Date</td>
                <td>Description</td>
                <td>Order ID</td>
                <td class="text-center">Status</td>
                <td class="text-right">Amount</td>
                <td class="text-center"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle"></td>
                <td class="align-middle"><img src="images/brands/operator/vodafone.jpg" class="img-thumbnail d-inline-flex mr-1"> <span class="text-1 d-inline-flex"></span></td>
                <td class="align-middle"></td>
                <td class="align-middle text-center"><i class="fas fa-check-circle text-4 text-success" data-toggle="tooltip" data-original-title="Your order is Successful"></i></td>
                <td class="align-middle text-right"></td>
                <td class="align-middle text-center"><a  data-toggle="tooltip" data-original-title="Repeat Order"><i class="fas fa-redo-alt"></i></a></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <div class="text-center pt-3"><a  class="btn btn-outline-primary shadow-none">View More</a></div>
      </div>
      <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
        <div class="table-responsive-md" *ngFor="let wishList of wishListData.WishList">
            <h3 class="font-weight-bold">Airline: {{wishList.flightAirlineOpt}}</h3>
            <hr>
          <table class="table table-hover border" >
            <thead class="thead-light"> 
                <tr>
                    <th>Trip Type</th>
                    <td>{{wishList.flightOpt}}</td>
                 </tr>
                 <tr>
                    <th>From</th>
                    <td>{{wishList.leavingFrom}}</td>
                 </tr>
                 <tr>
                    <th>To</th>
                    <td>{{wishList.goingTo}}</td>
                 </tr>
                 <tr>
                    <th>Class</th>
                    <td>{{flightClass[wishList.flightClassOpt]}}</td>
                 </tr>
                 <tr>
                    <th>Stops</th>
                    <td></td>
                 </tr>
            </thead>
          </table>
        <div class="col-md-4 col-sm">
            <button class="btn btn-primary btn-block font-weight-bold" type="button" (click)="searchAgain(wishList)">SEARCH AGAIN</button>
          </div>
      </div>

        
      </div>
      <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
        <div class="table-responsive-md" *ngFor="let eachWishList of wishListData">
            <h3 class="font-weight-bold">{{eachWishList.hotelName}}</h3>
            <hr>
          <table class="table table-hover border">
            <thead class="thead-light">
              <tr>
                    <th>Location</th>
                    <td>{{eachWishList.city}},{{eachWishList.HOTEL_COUNTRY}}</td>
              </tr>
              <tr>
                    <th>Star Rating</th>
                    <td></td>
              </tr>
                
            </thead>
          </table>
        </div>

        <div class="col-md-4 col-sm">
            <button class="btn btn-primary btn-block font-weight-bold" type="submit">SEARCH AGAIN</button>
      </div>
    </div>

    </div>
    <!-- WishList end --> 
  </div>
